[Desktop Entry]
Name=HDesk
NoDisplay=true
MimeType=x-scheme-handler/rustdesk;
TryExec=rustdesk
Exec=rustdesk %u
Icon=hdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
