[Desktop Entry]
Name=HDesk
GenericName=Remote Desktop
Comment=HDesk Remote Desktop
Exec=rustdesk %u
Icon=hdesk
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=hdesk;internet;linux;dart;remote-control;p2p;rdp;remote-desktop;vnc;
Actions=new-window;
StartupWMClass=rustdesk

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=rustdesk %u
